div#main{
 border-left    :3px #000000 solid;
 border-top     :3px #000000 solid;
 border-right   :3px #000000 solid;
 border-bottom  :3px #000000 solid;
 background-color:#00FFFF;
}

img.logomark{
width:100px;
}
