/*
element{
 display        :inline|block;　　　　　　
 float          :left|right;             左寄せ　右寄せ
 clear          :both|left|right;　　　　寄解除
 overflow       :hidden|auto;　　　　　　はみ出し

 text-align     :center|left|right;　　　文字位置　（
 text-decoration:none;　　　　　　　　　　リンクの下線表示

 background     :url(***.jpg) no-repeat 0% 0%;　背景
 width          :0;　　　　　　　　　　　幅　(px）
 height         :0;　　　　　　　　　　　高さ　（px）

 margin-left    :0;　　　　　　　　　　　外余白　左（px)
 margin-top     :0;　　　　　　　　　　　外余白　上（px)
 margin-right   :0;　　　　　　　　　　　外余白　右（px)
 margin-bottom  :0;　　　　　　　　　　　外余白　下（px)
 
 padding-left   :0;　　　　　　　　　　　中余白　左（px)
 padding-top    :0;　　　　　　　　　　　中余白　上（px)
 padding-right  :0;　　　　　　　　　　　中余白　右（px)
 padding-bottom :0;　　　　　　　　　　　中余白　下（px)

 border-left    :0;　　　　　　　　　　　罫線左　　　(px)
 border-top     :0;　　　　　　　　　　　罫線上　　　(px)
 border-right   :0;　　　　　　　　　　　罫線右　　　(px)
 border-bottom  :0;　　　　　　　　　　　罫線下　　　(px)
 list-style     :none;　　　　　　　　　　リスト点除く
 font-size      :12px;                  文字の大きさ
 color          :#000000;               文字色
}
*/

/* ============  CSSリセット 開始      =================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
 
 /* remember to define focus styles! */
 :focus {
 	outline: 0;
 }
  
  /* remember to highlight inserts somehow! */
  ins {
  	text-decoration: none;
  }
  del {
  	text-decoration: line-through;
  }
   
   /* tables still need 'cellspacing=&quot;0&quot;' in the markup */
   table {
   	border-collapse: collapse;
	border-spacing: 0;
   }
/* ============  CSSリセット 終了      =================== */

/* ============  共通事項    開始      =================== */
br.clr{
 clear          :both;
}

div.clr{
 clear          :both;
}

h2{
 font-size       :1.2em;
 color           :#FFFFFF;
 background-image:url(../img/backimg.jpg);
 padding-left    :1%;
 padding-top     :1%;
 padding-bottom  :1%;
}

/* ============  共通事項    終了      =================== */

/* ============  大枠        開始      =================== */
div#wrapper{
 width          :80%;
 padding-left   :10%;
 padding-right  :10%;
}

div#header{
 width          :100%;
}

div#leftside{
 float          :left;
 width          :0;
 height         :0;
}

div#main{
 float          :left;
 width          :100%;
 margin-bottom  :3%;
 border-left    :1px solid #A9A9A9;
 border-top     :1px solid #A9A9A9;
 border-right   :1px solid #A9A9A9;
 border-bottom  :1px solid #A9A9A9;
 background-image:url(../img/newback.png);
 background-repeat:no-repeat;
}

div#footer{
 width          :100%;
 border-top     :1px solid #A9A9A9;
}
/* ============  大枠        終了      =================== */


/* ============  div#header内   開始   =================== */
div#header h1{
 font-size      :0.8em;
 font-weight    :normal;
 margin-top     :0.6%;
 width          :30%;
}

div.corpaddress {
 width          :30%;
 float          :right;
}

div.corpaddress dl {
}
div.corpaddress dl dt{
 float          :left;
}

div#header div.logo{
 float          :left;
 width          :10%;
 margin-left    :1%;
 margin-top     :1%;
 margin-bottom  :1%;

}

div#header div.logo img.logomark{
 float          :left;
 width          :100%;
}

div#header div.corpname{
 width          :80%;
 float          :left;
 margin-top     :4%;
}

div#header div.corpname h1{
 font-size      :1.8em;
 color          :#2E8B57;               /*文字色*/

}



img.titleimg{
 width          :70%;
 margin         :20px;
}

div.navi{
 float          :left;
 width          :100%;
 margin-bottom  :1%;
}

div.navi ul li{
 color          :#FFFFFF;
 float          :left;
 width          :15%;
 height         :2em;
 border-top     :1px solid #A9A9A9;
 border-right   :1px solid #A9A9A9;
 border-bottom  :1px solid #A9A9A9;
 padding-top    :1.5%;
 text-align     :center;
 background-image:url(../img/backimg.jpg);
 background-repeat:repeat;
}

div.navi ul li a{
 display        :block;
 height         :100%;
 width           :100%;
 text-decoration:none;
 color          :#FFFFFF;
 /*border-left    :1px solid #A9A9A9;*/
 /*border-top     :1px solid #A9A9A9;*/
 /*border-bottom  :1px solid #A9A9A9;*/

}
/* ============  div#header内   終了   =================== */

/* ============  div#leftside内   開始   =================== */
/* ============  div#leftside内   終了   =================== */

/* ============  div#main内       開始   =================== */
div.titlediv{
 width          :100%;
 height         :200px;
 margin-bottom  :3%;
 background-image:url("../img/newback.png");
 background-repeat:no-repeat;
}

div.titlediv img{
 width          :100%;
}

/* ============  goannai.html main 開始   =================== */
div.eigyojikan p{
 margin         :1%;
}

div.eigyojikan table{
 border-bottom  :1px solid #000000;
 margin         :1%;
 width          :90%;
}

div.eigyojikan table th{
 padding-top    :1%;
 height         :1.5em;
 font-size      :0.8em;
 border-left    :1px solid #000000;
 border-top     :1px solid #000000;
 border-right   :1px solid #000000;
}

div.eigyojikan table td{
 padding-top    :1%;
 font-size      :1em;
 height         :1.5em;
 width          :23%;
 text-align     :center;
 border-left    :1px solid #000000;
 border-top     :1px solid #000000;
 border-right   :1px solid #000000;
}

div.eigyojikan ul{
 margin         :1%;
}

div.ryoukin p{
 margin         :1%;
}

div.ryoukin img{
 width          :20%;
 margin         :0.5% 1%;
}

div.kaisuken p{
 margin         :1%;
}

div.kaisuken img{
 width          :20%;
 margin         :0.5% 1%;
}

div.weekday p{
 margin         :1%;
}

div.weekday img{
 width          :100%;
}
div.kaiin,
div.ballcharge,
div.servicetime{
 width          :28%;
 float          :left;
 border         :1px solid #A5A5A5;
 margin         :1%;
 padding        :1%;
}

div.kaiin p,
div.ballcharge p,
div.servicetime p{
 font-size      :0.9em;
}

div.kaiin table{
 border-bottom  :1px solid #000000;
 margin         :1% 0;
}

div.kaiin table th{
 padding-top    :1%;
 height         :1.2em;
 font-size      :0.8em;
 border-left    :1px solid #000000;
 border-top     :1px solid #000000;
 border-right   :1px solid #000000;
}

div.kaiin table td{
 padding-top    :1%;
 font-size      :1em;
 height         :1.2em;
 width          :40%;
 text-align     :center;
 border-left    :1px solid #000000;
 border-top     :1px solid #000000;
 border-right   :1px solid #000000;
}

div.kaiin table td span{
 font-size      :0.8em;
}

div.ballcharge img{
 width         :80%;
 margin        :1%;
}

div.servicetime table{
 border-bottom  :1px solid #000000;
 margin         :10px 0;
}

div.servicetime table th{
 padding-top    :5px;
 height         :1.2em;
 font-size      :12px;
 border-left    :1px solid #000000;
 border-top     :1px solid #000000;
 border-right   :1px solid #000000;
}

div.servicetime table td{
 padding-top    :5px;
 font-size      :14px;
 height         :1.2em;
 width          :40%;
 text-align     :center;
 border-left    :1px solid #000000;
 border-top     :1px solid #000000;
 border-right   :1px solid #000000;
}
/* ============  goannai.html main 終了   =================== */

/* ============  grouplesson.html main 開始   =================== */

div.grouplesson p{
 margin         :1%;
}

div.grouplesson img{
 float          :left;
 margin         :1%;
}


div.teachers p{
 margin         :1%;
}

div.teacher{
 float          :left;
 width          :18%;
 margin         :1%;
 height         :280px;
 padding        :1%;
 border-left    :1px solid #A5A5A5;
 border-top     :1px solid #A5A5A5;
 border-right   :1px solid #A5A5A5;
 border-bottom  :1px solid #A5A5A5;
 overflow       :hidden;
}

div.teacher img{
 width          :90%;

}

div.teacher p span.tname{
 display        :block;
 font-size      :1.6em;
 margin         :1%;
}

div.teacher p span.tname span.furigana{
 font-size      :0.6em
}

div.teacher p span.syozoku{
 display        :block;
 font-size      :0.8em;
 margin         :2%;
}

div.teacher p span.comment{
 display        :block;
 font-size      :0.8em;
 margin         :2%;
}

div.lessontime p{
 margin         :1%;
}

div.lessontime table{
 width          :90%;
 margin         :1%;
 border-right   :1px solid #A5A5A5;
 border-bottom  :1px solid #A5A5A5;
}

div.lessontime table th,
div.lessontime table td{
 width          :8%;
 padding-top    :2%;
 height         :2.2em;
 border-left    :1px solid #A5A5A5;
 border-top     :1px solid #A5A5A5;
 text-align     :center;
}

div.lessonryoukin p{
 margin         :1%;
}
div.lessonryoukin table{
 width          :40%;
 margin         :1%;
 border-right   :1px solid #A5A5A5;
 border-bottom  :1px solid #A5A5A5;
}

div.lessonryoukin table th,
div.lessonryoukin table td{
 width          :2%;
 padding-top    :2%;
 height         :2.2em;
 border-left    :1px solid #A5A5A5;
 border-top     :1px solid #A5A5A5;
 text-align     :center;
}

div.roundlesson p{
 margin         :1%;
}


/* ============  map.html main 開始   =================== */
div.map iframe{
 float         :left;
}

/* ============  map.html main 終了   =================== */


/* ============  policy.html main 開始   =================== */
div#main dl{
 width         :90%;
 margin        :1%;
}

div#main dt{
 margin-top   :2%;
 margin-bottom:2%;
 border-bottom:1px solid #A5A5A5;

}

div#main dd{
 margin-left   :2%;
 font-size     :0.9em;
}
/* ============  policy.html main 終了   =================== */

/* ============  link.html main 開始   =================== */

div.link a{
 display       :block;
 width         :20%;
 margin        :1%;
 float         :left;
 color         :#000000;
 text-align    :center;
 text-decoration:none;
}

div.link a img{
 width         :100%;
}

/* ============  link.html main 終了   =================== */

/* ============  div#footer内     開始   =================== */
div#footer ul li{
 float          :left;
 margin         :1%;
 font-size      :0.8em;
}

div#footer ul li a {
 display        :block;
 text-decoration:none;
}

/* ============  div#footer内     終了   =================== */
